#user-menu.btn-toolbar
  .btn-group
    a#user-btn.button.btn.btn-inverse(href='/user')
      i.icon-user.icon-white
    button.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown')
      span.caret
    ul.dropdown-menu
      li
        a(href='#')
          i.icon-pencil
          | Edit
      li
        a(href='#')
          i.icon-trash
          | Delete
      li
        a(href='#')
          i.icon-ban-circle
          | Ban
      li.divider
      li
        a(href='#') Log out
