#user-menu.btn-toolbar
  .btn-group
    a#user-btn.button.btn.btn-inverse(href='/user/')
      i.icon-user.icon-white
    button.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown')
      span.caret
    ul.dropdown-menu
      li
        a(href='/user/edit/')
          | Edit
          i(style="margin-left: 5px").icon-pencil
      li
        a(href='#')
          | Start a fight
          i(style="margin-left: 5px").icon-fire
      li.divider
      li
        a(href='#') Log out
